<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MÖRTFORS WEBBTIDNING</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header>

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">MÖRTFORS WEBBTIDNING</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/articles/create">Skapa ny artikel<span class="sr-only">(current)</span></a></li>
                                <li><a href="/articles">Arkiv<span class="sr-only">(current)</span></a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/contact">Kontakt</a></li>
                            </ul>

                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section>
            <div class="where-the-article-is-placed">
                <h1>{{article['title']}}</h1>
                <div class="body">
                    <p>{{!article['body'].replace("\n", "</p><p>")}}</p>
                </div>


                <div class="detailBox">
                    <div class="titleBox">
                        <label>Kommentera här</label>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </div>
                    <div class="commentBox">

                        <p class="taskDescription">Här kan du kommentera denna artikel. Olämpliga kommentarer tas bort. </p>
                    </div>
                    <div class="actionBox">
                        <ul class="commentList">
                            <li>

                                <div class="commentText"><button type="button" class="close" aria-hidden="true">&times;</button>
                                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                            <li>

                                <div class="commentText"><button type="button" class="close" aria-hidden="true">&times;</button>
                                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                            <li>

                                <div class="commentText"><button type="button" class="close" aria-hidden="true">&times;</button>
                                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                        </ul>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your comments" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default">Add</button>
                            </div>
                        </form>

                    </div>
                </div>
                <br>
                <br>
                <a href="/articles" class="btn btn-default" role="button">Back to archive</a>

            </div>
        </section>
    </div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
</html>
